body {
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('fondo.jpg') center/cover fixed no-repeat;
}

header {
    color: rgb(255, 255, 255);
    padding: 1em;
    text-align: center;
}

header h1 {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: #323232cc;
    border-radius: 10px;
}
#contenedor-imagen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fixed;
        z-index: 0;
    }
    
    #message-section {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding: 20px;
        margin: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
}

#corazon {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: red;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 3;
}
#cartel-final {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}