body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #0d3e43;
    margin: 0;
    padding: 0;
}

header {
    background-color: #19727c;
    color: white;
    padding: 1em;
}

#message-section {
    /* Agrega estilos para la sección del mensaje */
    margin-top: 20px;
}